{%extends 'galleria/base.html'%}

{% block content %}
{% load static %}
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/w3-css/4.1.0/w3.css" integrity="sha512-Ef5r/bdKQ7JAmVBbTgivSgg3RM+SLRjwU0cAgySwTSv4+jYcVeDukMp+9lZGWT78T4vCUxgT3g+E8t7uabwRuw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<p class="text-center text-success">A gallery is where we store our photos</p>

<div class="container">
  {% for image in images %}
  <div class="row justify-content-center">
    <div class="col d-grid card">
      <img src="{{image.image.url}}" class="img-responsive" title="{{ image.image_description }} {{ image.category }}" onclick="onClick(this)">
      <a href="{% url 'delete_image' image.id %}"><button class="btn btn-danger">Delete</button></a>
      <blockquote class="text-center text-muted"> Posted {{ image.posted_date|timesince }} ago,</blockquote>
    </div>

    <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img id="img01" class="img-responsive" title="{{ image.image_name }}">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
          <h2 class="text-center"> {{ image.image_name }} </h2>
          <h3 class="text-center"> {{ image.image_description }} </h3>
          <h5 class="text-center">Category: {{ image.category }} </h5>
          <h4 class="text-center">Location: {{ image.location }} </h4>
          <a href="{% url 'update_image' image.id %}"><button class="btn btn-info">Update</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endfor %}
  <div>
    <a href="{% url 'add_image'  %}"><button class="btn btn-primary justify-content-center">Add New Image</button></a>
  </div>
</div>
<script>
  function onClick(element) {
    document.getElementById("img01").src = element.src;
    document.getElementById("modal01").style.display = "block";
  }
</script>

{% endblock %}


